/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
}
.wrap{
	width:90%;
	margin:0 auto;
}
.header-top{
	padding:5px 0;
	background:#FFF;
}
.logo{
	text-align:center;
}
.logo a{
	display: block;
}
/*--menu--*/
.cssmenu{
	text-align:center;
	margin-top:10px;
}
.cssmenu li {
	display: inline-block;
}
#nav .current a,.cssmenu > ul > li a:hover {
	color:#64a8d6;
}
.cssmenu li:first-child  a {
	margin-left:0;
}
.cssmenu li  a {
	color:#878787;
	display: block;
	margin:0px 3px;
	font-size:12px;
	font-weight:100;
	text-transform: uppercase;
}
.header-bottom{
	background:#64a8d9 ;
}
.img-banner{
	padding:1em 0 0em 0;	
	position: relative;	
}
.img-banner-info h1{
	font-size:1.4em;
	font-weight:bold;
	color:#FFF;
	text-transform:uppercase;
	line-height:1.4em;
	margin-bottom:5px;
}
.img-banner-info h3{
	font-size:17px;
	color:#FFF;
	line-height:1.6em;
	font-weight:100;
}
.sign_up{
	margin-top:1em;
}
.sign_up p{
	font-size:14px;
	font-weight:100;
	color:#f7f7f7;
	margin-bottom:1em;
}
.sign_up p span{
	color:#FFF;
   font-weight:bold;
   text-transform:uppercase;
   background:#ffce54;	
   padding:5px 10px;
}
.sign_up input[type="text"]{
	padding:10px;
	width:90%;
	margin:0;
	border:none;
	background:#FFF;
	font-size:14px;
	font-weight:100;
	color:#9E9E9E;
	outline:none;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
}
.sign_up input[type="submit"]{
	  background: #77c344;
	  display: inline-block;
	  border:none;
	  padding:11px 15px;
	  font-size:14px;
	  font-weight:bold;
	 font-family:Arial, Helvetica, sans-serif;
	  color: #FFF;
	  margin: 0;
	  text-decoration: none;
	  cursor:pointer;
	  outline:none;
      text-transform:uppercase;
       float:right;
       margin-top:5px;
}
.sign_up input[type="submit"]:hover{
	    background:#52A21C;
}
.img-banner-pic {
	text-align:center;
}
.img-banner-pic img {
	display:block;
	margin:0 auto;
}
.clients{
	background:#f8f8f8;
	padding:5px 0;
}
.item{
	float:left;
	width:25%;
}
/*--content--*/
.features {
	background:#FFF;
	padding:8% 0;
	position:relative;
}
.features h2{
	color:#2d394c;
	font-size:20px;
	text-transform:uppercase;
	font-weight:bold;
	padding-bottom:5px;
	text-align:center;
}
.icon{
	vertical-align:middle;
	float:left;
	width:50px;
}
.heading-desc{
	margin-left:5px;
	float:left;
	width:72%;
	margin-top:10px;
}
.heading h3 {
	color:#646464;
	font-size:18px;
}
.features-list p{
	font-size:13px;
	font-weight:100;
    color:#9499a2;
    line-height:1.6em;
}
.features-list li{
	padding:5px 10px;
}
.features-list li:first-child{
	padding-top:0;
}
.content-middle{
	padding:8% 0;
	background:#f5f5f5;
}
.app-overview-img{
	float:right;
	padding:0;
	width:100%;
}
.app-overview-img img{
	float:right;
}
/* Example media queries */
.content-middle h2 {
	color: #2d394c;
	font-size:25px;
	text-transform: uppercase;
	padding-bottom:10px;
	text-align: center;
}
.testimonials p{
	color:#787878;
	font-size:14px;
	font-weight: 100;
	line-height: 1.8em;
}
.testimonials h3{
	font-size:18px;
	color:#2d394c;
	margin:0.5em 0;
}
.testimonials h3 span img{
	display:inline-block !important;
	vertical-align:middle;
	margin-right:10px;
	margin-top:-15px;
	width:35px;
}
.testimonials-list{
	margin-top:20px;
}
/*--footer--*/
.footer-top{
	background:#FFF;
	padding:8% 0;
}
.contact h2 {
	color:#2d394c;
	font-size:20px;
	margin-bottom:10px;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
}
.contact h4{
	font-size:17px;
	line-height:1.6em;
	font-weight:100;
	color:#5a626e;
	font-style:italic;
	text-align:center;
}
.contact-form{
	margin-top:1em;
}
.contact-form input[type="text"]{
	padding:12px 5px;
	width:94%;
	margin:0;
	border:1px solid rgba(0, 0, 0, 0.12);
	background:#FFF;
	font-size:13px;
	font-weight:100;
	color:#9E9E9E;
	outline:none;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
}
.contact-form input[type="text"]:focus {
	border:1px solid rgba(0, 0, 0, 0.26);
}
.contact-form input[type="submit"]{
	  background: #77c344;
	  display: inline-block;
	  border:none;
	  padding:12px 15px;
	  font-size:14px;
	  font-family:Arial, Helvetica, sans-serif;
	  color: #FFF;
	  margin: 0;
	  text-decoration: none;
	  cursor:pointer;
	  outline:none;
      text-transform:uppercase;
       float:right;
       margin-top:5px;
}
.contact-form input[type="submit"]:hover{
	    background:#68B534;
}
.footer-bottom{
	padding:10px 0;
	background:#f9f9f9;
	border-top:1px solid #EBEBEB;
}
.footer-btm-left {
  text-align:center;	
}
.footer-btm-right {
   text-align:center;		
}
.footer-links,.social-icons {
   display:block;
 }
 .social-icons{
 	margin-top:20px;
 }
.footer-btm-right li {
	display:inline-block;
}
.footer-btm-right li a{
	font-size:0.8em;
	font-weight:100;
	color:#4d5664;
	margin:0 4px;
}
.footer-btm-right li a:hover{
	color:#64a4d7;
}
.footer-btm-right li:first-child a{
	margin-left:0;
}
.footer-links{
  vertical-align:super;
}
.social-icons li {
	display:inline-block;
	margin-top:-7px;
}
.social-icons li a{
	display:block;
	width:25px;
	height:25px;
	background:url("../images/social-icons.png") no-repeat;
}
.social-icons li.tweeter a{
	background-position:0px -4px;
}
.social-icons li.facebook a{
	background-position:-30px -5px;
}
.social-icons li.google-pluse a{
	background-position:-62px -5px;
}
.copy{
	margin-top:10px;
	text-align:center;
}
.copy p{
	color:#8A8A8A;
	font-size:14px;
	font-weight:100;
	line-height: 1.8em;
}
.copy p a{
	color:#64a4d7;
	font-weight:bold;
}
.copy p a:hover{
	color:#1E2024;
	text-decoration:underline;
}
