#Insteon ServiceStack
#
# Upstart script. Place in /etc/init
#
description "Insteon Services"
author "Keith Swyer"

start on started networking
stop on runlevel[016]

setuid nobody
setgid nogroup
respawn
console log

exec start-stop-daemon --start --exec /usr/bin/mono /home/pi/Insteon/Insteon.Daemon.exe