<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/Styles/Site.css" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navbar goes here -->
    <div class="container">
        <header id="header">
            <!-- Header goes here -->
            header
        </header>
        <div ng-view>
            ng view
        </div>
        <hr>
        <footer id="footer">
            <!-- Footer goes here -->
            footer
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</body>
</html>